.wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 64px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.banner_container {
  margin: 0;
}

.banner_label {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1080px) {
  .wrapper {
    flex-direction: column-reverse;
    text-align: center;
    gap: 48px;
  }

  .text_container {
    align-items: center;
    gap: 32px;
  }

  .description,
  .banner_label {
    font-size: 16px;
  }

  .banner_container > img {
    max-width: 100%;
    height: auto;
  }

  .signature {
    width: 230px;
    height: 30px;
  }
}
